/* Table name (first text in a node) */
.node > text:first-of-type {
    fill: red;
}

/* Edge color better done in .dot file */
/* Arrow head */
/*
.edge > polygon {
    fill: green;
    stroke: green;
}
*/

/* Arrow length */
/*
.edge > path {
    stroke: green;
}
*/
